@use "../shared/vars";
@use "../shared/utils";

.container-card {
    @include utils.card;

    flex-direction: row-reverse;

    @include utils.button-behaviour;
}

.cover {
    width: 100%;
}

// TAG

.container-tag {
    width: 3rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    transform: translate(50%, -50%);

    border-radius: 100%;

    color: white;
    font-size: 2rem;
    background-color: vars.$color-secondary;

    z-index: vars.$layer-overlay;
}

// INFO

@mixin info {
    @include utils.card;

    padding: 0;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    align-self: flex-end;

    background-color: white;

    > p, > span {
        font-size: .9rem;
    }
}

.container-info {
    @include info;

    height: 0px;

    > * {
        display: none;
    }

    > p {
        max-height: 17rem;
        line-height: 1rem;
        overflow: hidden;
    }
    
    &.open-info {
        padding: 1rem;
        height: inherit;

        > * {
            display: initial;
        }
    }
}

.container-info-small {
    @include info;

    height: 150px;

    padding: .5rem;
    border-radius: 0 0 1rem 1rem;

    > p {
        max-height: 5rem;
        line-height: 1rem;
        overflow: hidden;
    }
}
