@use "../shared/vars";
@use "../shared/utils";

.container-checkout-form {
    @include utils.on-breakpoint(vars.$break-small) { 
        width: 100%;
    }
    
    margin: auto;
    padding: 7rem;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;

    border-radius: .5rem;

    color: white;
    background-color: vars.$color-primary;

    > div, > span {
        margin: .5rem 0;
    }

    > label {
        margin-top: .5rem;
    }

    > input {
        padding: .5rem;
        margin-bottom: .5rem;

        border-radius: .5rem;
        outline: none;
        border: none;
    }
}

.container-checkout-books {
    > *:first-child {
        margin-bottom: 1rem;
    }
}
