@use "../shared/vars";
@use "../shared/utils";

.password-change {
    display: grid;
    grid-template: 
        "a a" auto
        "b c" auto
        "d d" auto
        "e e" auto / auto auto;
    row-gap: .5rem;

    > label {
        grid-area: a;

        text-align: center;

        &.password-change-confirm {
            grid-area: d;
        }
    }

    > input {
        grid-area: b;

        padding: .5rem;

        border-radius: .5rem 0 0 .5rem;
        outline: none;
        border: none;

        &:disabled {
            background: darken(white, 10%);
        }

        &.password-change-confirm {
            border-radius: .5rem;
            grid-area: e;
        }
    }

    > svg {
        grid-area: c;

        width: 2rem;
        height: 2rem;

        border-radius: 0 .5rem .5rem 0;
        background-color: darkgrey;
        
        @include utils.button-behaviour;

        &:hover {
            background-color: grey;
        }

        &.active {
            background-color: vars.$color-secondary;
        }

        &.active:hover {
            background-color: darken(vars.$color-secondary, 10%);
        }

    }
}

