@use "../shared/vars";
@use "../shared/utils";

#container-search {
    display: flex;
    align-content: center;

    border-radius: .5rem;
    background-color: white;

    overflow: hidden;
}

#icon-search {
    height: 1em;

    display: inherit;
    align-items: center;

    background-color: vars.$color-secondary;
    
    svg {
        height: .7em;

        color: white;
    }
    
    &:hover {
        background-color: darken(vars.$color-secondary, 10%);
    }

    @include utils.button-behaviour;
}

#input-search {
    flex: content;

    padding-left: 1em;
    border: none;
    outline: none;

    background-color: transparent;
}
