@use "../shared/vars";
@use "../shared/utils";

#container-search {
    display: flex;
    align-content: center;

    padding: .5rem 0;
    border-radius: .5rem;
    background-color: white;

    overflow: hidden;
    cursor: text;
}

#icon-search {
    height: .5em;

    display: inherit;
    align-items: center;
    
    color: darken(white, 50%);

    @include utils.not-draggable;
}

#input-search {
    flex: content;

    border: none;
    outline: none;

    background-color: transparent;
}
