@use "../shared/vars";
@use "../shared/utils";

.container-text-button {
    width: fit-content;

    padding: .5rem .7rem;
    border-radius: .5rem;

    color: white;
    text-transform: uppercase;
    background-color: vars.$color-secondary;

    border: none;

    &:hover {
        background-color: darken(vars.$color-secondary, 10%);
    }

    &.text-disabled {
        pointer-events: none;
        filter: brightness(75%);
    }

    @include utils.button-behaviour;
}
