@use "../shared/vars";
@use "../shared/utils";

header { 
    width: 100%;

    position: sticky;
    top: 0;

    padding: .5rem 1rem;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;

    font-size: 2.5rem;

    background-color: vars.$color-primary;

    z-index: vars.$layer-panel;;
}

.icon-header {
    height: .7em;
    @include utils.not-draggable;
    @include utils.on-breakpoint(vars.$break-small) {
        @include utils.button-behaviour;
    }
}
