@use "shared/vars";
@use "shared/utils";

// ROOT ELEMENTS

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    
    background-color: vars.$color-background;
    
    > #root {
        width: 100%;
        height: 100%;
    }
}

// HTML SEMANTIC ELEMENTS

main {
    min-height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

header.header-back{
    width: 100%;

    padding: 1rem 1rem 0;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    position: absolute; //* CONSIDER: Don't know which I prefer. Keeping for now
}

// FORMS

div.form {
    @include utils.form;
}

div.auth-form {
    @include utils.auth-form;
}

// TEXT

p, div {
    @include utils.text-main;
    @include utils.text-main-highlight;
}

span, input {
    @include utils.text-tag;
}

h1, h2, h3, h4, h5, h6 {
    @include utils.text-heading;
}

